body{
    display: flex;
    justify-content:center;
    align-items: center;
}

td{
    border: #999 1px solid;
    width: 20px;
    height: 20px;
    background-color: #999;
    box-sizing: border-box;
}